/* .container {
	height: 250px; 
	width: 400px;
	border:1px solid #ccc;
}

.text-box{
	/* width: 100%; */
	/* position: absolute; */
	/* top: 0; */
/* } */

.text:empty:before{
	/* content: 'Hey there';  */
	content: attr(placeholder);
    color: rgb(202, 198, 198);
} */


.text:empty:before{
	content: 'Hey there'; 
	color: rgb(202, 198, 198);
}




/* .avatar-container {
	width: 148px;
} */


/* .avatar-inputs {
	overflow: auto;
	border: 1px solid #ccc;
	height: 48px;
	word-wrap: break-word;
} */


/* 输入框【为空】时显示 placeholder , 输入内容则不显示 placeholder*/
/* .avatar-inputs:empty:before {
	content: attr(placeholder);
	color: rgb(202, 198, 198);
} */

